<div class="newsletter">
  <div class="container--narrow">
    <p class="newsletter__quote">&ldquo;If the world were only pain and logic, who would want it?&rdquo;</p>
    <p class="newsletter__attribution">&mdash; Mary Oliver</p>
    <p class="newsletter__cta">News, events, and the occasional poem &mdash; delivered to your inbox.</p>
    <script is:inline src="https://f.convertkit.com/ckjs/ck.5.js"></script>
    <form action="https://app.kit.com/forms/9214455/subscriptions" class="seva-form formkit-form" method="post" data-sv-form="9214455" data-uid="b37444e105" data-format="inline" data-version="5" min-width="400 500 600 700 800">
      <div data-style="clean">
        <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
        <div data-element="fields" data-stacked="false" class="seva-fields formkit-fields">
          <div class="formkit-field">
            <input class="formkit-input" name="email_address" aria-label="Email Address" placeholder="Email Address" required type="email">
          </div>
          <button data-element="submit" class="formkit-submit">
            <div class="formkit-spinner"><div></div><div></div><div></div></div>
            <span>Subscribe</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
