<div class="newsletter">
  <div class="container--narrow">
    <p class="newsletter__quote">&ldquo;If the world were only pain and logic, who would want it?&rdquo;</p>
    <p class="newsletter__attribution">&mdash; Mary Oliver</p>
    <p class="newsletter__cta">News, events, and the occasional poem &mdash; delivered to your inbox.</p>
    <script is:inline async data-uid="b37444e105" src="https://jane-muschenetz.kit.com/b37444e105/index.js"></script>
<script is:inline>
  (function() {
    function fixPlaceholder() {
      var input = document.querySelector('[data-uid="b37444e105"] .formkit-input');
      if (input) {
        input.placeholder = 'EMAIL';
      } else {
        setTimeout(fixPlaceholder, 200);
      }
    }
    fixPlaceholder();
  })();
</script>
  </div>
</div>
